.App2 {
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .MainContent{
    display: flex;
    /* en: ; */
    justify-content: center;
    flex-direction: row-reverse;
    overflow: auto;
  }
  
  .Button {
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .SideDrawer {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
    transform: translateX(200px);
    transition: transform 0.3s ease-in-out;
  }
  
  .SideDrawer.open {
    transform: translateX(0);
  }
  
  .SideDrawer button {
    display: block;
    width: 100%;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  
  .MainContent {
    margin-right: 20px;
  }